@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.filters {
    display: flex;
    gap: 0.8rem;

    &__btn {
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
    border: none;
    background: rgba($dark-grey, 0.5);
    color: $color-text;
    font-size: $text-sm;
    cursor: pointer;

    &:hover {
        background: $color-bg-card;
    }

    &--active {
        background: $white;
        color: $black;
        font-weight: $font-bold;

        &:hover {
            background: $white;
        }
    }
}
}

.sort-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover { opacity: 1; }

    &__icon {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 768px) {
    .filters__btn:first-child {
        display: none;
    }
}