@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  font-size: $text-base;
  font-weight: $font-regular;
  color: $color-text;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}