@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.section {
    margin-bottom: 2.4rem;
    padding: 0 2.5rem;

    &__header {
        @include flex-space-between;
        margin-bottom: 1.6rem;
    }

    &__title {
        font-size: $text-lg;
        font-weight: $font-bold;
        color: $color-text;
        margin: 0;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    &__arrow {
        border: none;
        color: $color-muted;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        cursor: pointer;
        font-size: $text-md;
        @include flex-center;
        transition: background 0.2s, color 0.2s;

        &:hover {
            color: $color-text;
        }

        &--prev {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__more {
        background: none;
        border: none;
        color: $color-muted;
        cursor: pointer;
        font-size: $text-lg;
        padding: 0 0.4rem;
        transition: color 0.2s;

        &:hover { color: $color-text; }
    }

    &__track {
        overflow-x: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar { display: none; }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(8, 16rem);
        gap: 1.1rem;
        width: max-content;
    }
}


// ── Recently Played (mobile only) ──────────
.recent-grid {
    display: none;
}

@media (max-width: 768px) {
    .recent-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
        padding: 1.6rem;
    }

    .recent-item {
        height: 4.8rem;;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $color-bg-elevated;
        border-radius: 0.6rem;
        overflow: hidden;
        text-decoration: none;

        &:hover {
            background-color: $color-bg-card;
        }


        &__img {
            width: 4rem;
            height: 4rem;
            border-radius: 0.3rem;
            object-fit: cover;
            flex-shrink: 0;
            margin: 0.8rem;
        }

        &__title {
            font-size: $text-sm;
            font-weight: $font-bold;
            color: $color-text;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding: 0 1.6rem;

        &__controls {
            display: none;
        }

        &__grid {
            grid-template-columns: repeat(8, 13rem);
            gap: 3.5rem;
            width: max-content;
        }
    }


}