@use 'variables' as *;

// ── Flexbox ────────────────────────────────
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}


// ── Typography ─────────────────────────────
@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// ── Hover Transition ───────────────────────
@mixin hover-transition {
  transition: all 0.2s ease;

  &:hover {
    color: $color-text-hover;
    cursor: pointer;
  }
}

// ── Breakpoints ────────────────────────────
@mixin mobile {
  @media (max-width: 480px) { @content; }
}

@mixin tablet {
  @media (max-width: 768px) { @content; }
}

@mixin desktop {
  @media (max-width: 1024px) { @content; }
}
// icons min-head world
@mixin icons-size{
  width: $icon-widht-size;
  height: $icon-heght-size;
  radius: $icon-radius;
}

@mixin icon-font {
  color: $p-text;
  font-family: $font-primary;
  font-size: $icon-font-size;
  font-weight: $icon-font-weight;
  height: $line-height-base;
  spacing: $letter-spacing;
}

// card fontes

@mixin title-font{
 font-family: $font-primary;
 font-size: $icon-font-size;
 font-weight: $icon-font-weight;
 height: $line-height-base;
 letter-spacing: $letter-spacing;
}

@mixin small-text{
    font-family: $font-primary;
    height: $line-height-base;
    letter-spacing: $letter-spacing;
    font-size: $small-font-size;
    font-weight: $small-font-weigth;
    color: $p-text;

}