//---Colors------------------------------------

$green: #1ED760;
$black: #060606;
$light-black: #111111;
$white: #E0E0E0;
$light-grey: #898989;
$dark-grey: #202020;
$blue:#6F86FF;
$pink:#DD138B;
$orange: #FFC668;
$lime: #CCF665;
$yellow: #F9E72C;
$teal: #9BF0E2;
$rose: #FFCBD4;
$forest: #27856B;
$mauve: #CE6E9A;
$mint: #95E6D3;
$blush: #F4B8BD;
$sage: #C3E7B7;
$coral: #F37FA6;
$steel: #A0BEC8;
$gold: #FDD87D;
$taupe: #D4B2A9;

// Card

$blue-wide: rgba($blue, 0.30);
$blue-short: rgba($blue, 0.15);
$pink-wide: rgba($pink, 0.30);
$pink-short: rgba($pink, 0.15);
$orange-wide:  rgba($orange, 0.30);
$orange-short: rgba($orange, 0.15);
$lime-wide:    rgba($lime, 0.30);
$lime-short:   rgba($lime, 0.15);
$yellow-wide:  rgba($yellow, 0.30);
$yellow-short: rgba($yellow, 0.15);
$teal-wide:    rgba($teal, 0.30);
$teal-short:   rgba($teal, 0.15);
$rose-wide:    rgba($rose, 0.30);
$rose-short:   rgba($rose, 0.15);
$forest-wide:  rgba($forest, 0.30);
$forest-short: rgba($forest, 0.15);
$mauve-wide:   rgba($mauve, 0.30);
$mauve-short:  rgba($mauve, 0.15);
$mint-wide:    rgba($mint, 0.30);
$mint-short:   rgba($mint, 0.15);
$blush-wide:   rgba($blush, 0.30);
$blush-short:  rgba($blush, 0.15);
$sage-wide:    rgba($sage, 0.30);
$sage-short:   rgba($sage, 0.15);
$coral-wide:   rgba($coral, 0.30);
$coral-short:  rgba($coral, 0.15);
$steel-wide:   rgba($steel, 0.30);
$steel-short:  rgba($steel, 0.15);
$gold-wide:    rgba($gold, 0.30);
$gold-short:   rgba($gold, 0.15);
$taupe-wide:   rgba($taupe, 0.30);
$taupe-short:  rgba($taupe, 0.15);
$lime-short:   rgba($lime, 0.15);

// Background

$color-bg-base: $black;
$color-bg-elevated: $light-black;
$color-bg-card: $dark-grey;

// Brand

$color-primary: $green; 

// Text

$color-text: $white;  
$color-muted: $light-grey; 
$color-hover: $white;

// Buttons

$color-btn: $light-grey;
$color-btn-hover: $white; 
$color-btn-active: $green;

// Typography

$font-primary: 'Satoshi', sans-serif;

$font-light:   300;
$font-regular: 400;
$font-medium:  500;
$font-bold:    700;
$font-black:   900;

$text-xs:   1.0rem;
$text-sm:   1.2rem;
$text-base: 1.4rem;
$text-md:   1.6rem;
$text-lg:   2rem;
$text-xl:   2.4rem;
$text-2xl:  3.2rem;
$text-3xl:  4.8rem;


// library-main-color

// primary colors
$color-primary: #1ed760, ;
$color-primary-dark: #0c391c;
$bg-main:#060606;
$bg-card: #181818, ;
$bg-card-hover: #282828;
$bg-card-note:#898989;
$bg-card-back:#A691744D,#7373734D,#1ED7604D,#3D3D3D,#BBB4D84D,#75A4964D,
#6278B14D,#95E6D34D,#F4B8BD4D,#C3E7B74D,#CCF6654D,#F9E72C4D,#9BF0E24D;



// text colors
$title-text-color:#E0E0E0;
$p-text:#898989;
$text-dim: #A7A7A7;

// nums color

$color-card-num:(#1ED760, 
#898989, #95E6D3, #F4B8BD, #C3E7B7, #CCF665, #F9E72C,#9BF0E2);

// icons size

$icon-heght-size: 40px;
$icon-widht-size: 40px;
$icon-radius: 5px;

// icon font size

$icon-font-size: 14px;
$icon-font-weight: 400;
// Line heights
$line-height-base: 100%;
// Letter spacing
$letter-spacing: 3%;


