@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.app__main {
    display: grid;
    grid-template-rows: 59px 1fr;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 2;
    min-height: 0;
    border: 1px solid $dark-grey;
    border-radius: 10px;
    margin-right: 7px;
}


.main__content {
    grid-row: 2;
    overflow-y: auto;
    min-height: 0;
}

@media (max-width: 768px) {
    .app__main {
        grid-column: 1;
        grid-row: 1;
        border: none;
        border-radius: 0;
        margin-right: 0;
        grid-template-rows: auto 1fr;
    }
}