.app__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 259px;
  width: calc(100% - 259px);
  height: 54px;
  background: #121212;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 20px;

  input[type="radio"] {
    display: none;
  }
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.76);
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  background: none;
  border: none;
  transition: 0.2s;

  &:hover {
    color: white;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.1);

    .nav__icon {
      filter: brightness(1.5);
    }
  }
}

.nav__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.2s;

  &.home {
    background-image: url('../assets/icons/home.svg');
  }

  &.discover {
    background-image: url('../assets/icons/discover.svg');
  }

  &.search {
    background-image: url('../assets/icons/search.svg');
  }
}

#home:checked ~ label[for="home"] {
  color: white;
  font-weight: 600;

  .nav__icon {
   background-image: url('../assets/icons/home.svg');
    filter: brightness(1.5);
  }

  &:hover .nav__icon {
    filter: brightness(1.7);
  }
}

#discover:checked ~ label[for="discover"] {
  color: white;
  font-weight: 600;

  .nav__icon {
    background-image: url('../assets/icons/discover.svg');
    filter: brightness(1.5);
  }

  &:hover .nav__icon {
    filter: brightness(1.7);
  }
}

#search:checked ~ label[for="search"] {
  color: white;
  font-weight: 600;

  .nav__icon {
    background-image: url('../assets/icons/search.svg');
    filter: brightness(1.5);
  }

  &:hover .nav__icon {
    filter: brightness(1.7);
  }
}

.nav__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: filter 0.2s;

    &.notification {
      background-image: url('../assets/icons/notification.svg');
    }

    &.lock {
      background-image: url('../assets/icons/lock.svg');
    }

    &.friends {
      background-image: url('../assets/icons/friends.svg');
    }

    &.settings {
      background-image: url('../assets/icons/settings.svg');
    }

    &.avatar {
      background-image: url('../assets/icons/avatar.png');
    }
  }
}