@use '../abstracts/variables' as *;
@use '../base/reset';

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-bg-elevated;
    padding: 1.6rem;
}

// -- Header --
.sidebar__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0 1.6rem;
    margin-bottom: 1.6rem;
}

.sidebar__header-icon {
    width: 2rem;
    height: 2rem;
}

.sidebar__header-title {
    font-size: $text-base;
    font-weight: $font-bold;
    color: $color-text;
}

// -- Nav List --
.sidebar__list {
    display: flex;
    flex-direction: column;
}

// -- Item --
.sidebar__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.6rem;

    &:hover {
        background-color: $color-bg-card;
        border-radius: 10px;
    }
}

// -- Link --
.sidebar__link {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

// -- Icon --
.sidebar__icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

// -- Label --
.sidebar__label {
    font-size: $text-base;
    font-weight: $font-medium;
    color: $color-muted;

    .sidebar__item:hover & {
        color: $color-text;
    }
}

// -- Arrow --
.sidebar__arrow {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
}

//-- Active -- (add 'sidebar__item--active' to the current page's <li> element);
.sidebar__item--active {
    background-color: $color-bg-card;
    border-radius: 10px;

    .sidebar__label {
        color: $color-text;
    }
}